In [58]:
import os

import math
import shutil
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf
import logging

logger = tf.get_logger()
logger.setLevel(logging.INFO)

pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.1f}'.format

In [6]:
!pip install -q kaggle
#!pip install google.colab

ERROR: jupyterlab-git 0.10.1 has requirement nbdime<2.0.0,>=1.1.0, but you'll have nbdime 2.0.0 which is incompatible.
ERROR: apache-beam 2.22.0 has requirement httplib2<0.18.0,>=0.8, but you'll have httplib2 0.18.1 which is incompatible.
ERROR: apache-beam 2.22.0 has requirement mock<3.0.0,>=1.0.1, but you'll have mock 4.0.2 which is incompatible.

In [7]:
!mkdir -p ~/.kaggle
!mv kaggle.json ~/.kaggle/
!ls ~/.kaggle
!chmod 600 ~/.kaggle/kaggle.json

!ls -l ~/.kaggle/kaggle.json

mv: cannot stat 'kaggle.json': No such file or directory
kaggle.json
-rw------- 1 jupyter jupyter 73 Jul 21 14:17 /home/jupyter/.kaggle/kaggle.json

In [8]:
data_base_path = os.path.join(os.path.curdir, '../data')
titanic_base_path = os.path.join(data_base_path, 'titanic')

!ls $data_base_path

ls: cannot access './../data': No such file or directory

In [9]:
def load_data_from_kaggle(dataset="titanic", data_base_path=data_base_path):
    data_path = os.path.join(os.path.curdir, f"{data_base_path}/{dataset}")
    !kaggle competitions download -c $dataset --path $data_path --force
    !unzip -o $data_path/titanic.zip -d $data_path

In [10]:
load_data_from_kaggle(dataset="titanic")

Downloading titanic.zip to ././../data/titanic
  0%|                                               | 0.00/34.1k [00:00<?, ?B/s]
100%|██████████████████████████████████████| 34.1k/34.1k [00:00<00:00, 20.7MB/s]
Archive:  ././../data/titanic/titanic.zip
  inflating: ././../data/titanic/gender_submission.csv
  inflating: ././../data/titanic/test.csv
  inflating: ././../data/titanic/train.csv

In [11]:
def load_titanic_dateset(titanic_path=titanic_base_path):
    gender_submission_csv_path = os.path.join(titanic_path, "gender_submission.csv")
    train_csv_path = os.path.join(titanic_path, "train.csv")
    test_csv_path = os.path.join(titanic_path, "test.csv")
    return pd.read_csv(gender_submission_csv_path), pd.read_csv(train_csv_path), pd.read_csv(test_csv_path)

In [12]:
gender_sub_df, train_df, test_df = load_titanic_dateset(titanic_path=titanic_base_path)

In [13]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Build a neural network model

In [16]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [50]:
median_age = None
most_embarked_from = None
train_fare_mean = None
train_fare_std = None

def drop_columns(df):
    df.drop("Name", axis=1, inplace=True)
    df.drop("PassengerId", axis=1, inplace=True)
    df.drop("Ticket", axis=1, inplace=True)
    df.drop("Cabin", axis=1, inplace=True)
    df.drop("Sex_female", axis=1, inplace=True)
    df.drop('SibSp', axis=1, inplace=True)
    df.drop('Parch', axis=1, inplace=True)
    return df


def fill_missing_values(df):
    copy_df = df.copy()
    
    global median_age
    global most_embarked_from
    global train_fare_mean
    global train_fare_std
    
    median_age = median_age or copy_df["Age"].median(skipna=True)
    most_embarked_from = most_embarked_from or copy_df["Embarked"].value_counts().idxmax()
    train_fare_mean = train_fare_mean or copy_df["Fare"].mean(skipna=True)
    train_fare_std = train_fare_std or copy_df["Fare"].std(skipna=True)
    
    copy_df["Age"].fillna(median_age, inplace=True)
    copy_df["Embarked"].fillna(most_embarked_from, inplace=True)
    copy_df["Fare"] = (copy_df["Fare"] - train_fare_mean) / train_fare_std
    
    return copy_df
    
def create_categorical(df):
    copy_df = pd.get_dummies(df, columns=["Pclass", "Embarked", "Sex"])
    pd.bu
    return copy_df

def add_engineered(df):
    df['TravelAlone'] = np.where((df["SibSp"] + df["Parch"])>0, 0, 1)
    df['TravelAlone'] = df['TravelAlone'].astype('uint8')
    return df

def change_types(df):
    df['TravelAlone'] = df['TravelAlone'].astype('uint8')
    if 'Survived' in df.columns:
        df['Survived'] = df['Survived'].astype('uint8')
    return df

def clean_data(df):
    copy_df = df.copy()
    
    copy_df = fill_missing_values(copy_df)
    copy_df = create_categorical(copy_df)
    copy_df = add_engineered(copy_df)
    copy_df = drop_columns(copy_df)
    copy_df = change_types(copy_df)
    return copy_df

In [51]:
train_df_clean = clean_data(train_df)
test_df_clean = clean_data(test_df)

In [52]:
train_df_clean.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,Sex_male,TravelAlone
0,0,22.0,-0.502163,0,0,1,0,0,1,1,0
1,1,38.0,0.786404,1,0,0,1,0,0,0,0
2,1,26.0,-0.488580,0,0,1,0,0,1,0,1
3,1,35.0,0.420494,1,0,0,0,0,1,0,0
4,0,35.0,-0.486064,0,0,1,0,0,1,1,1

In [53]:
train_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Survived     891 non-null    uint8
 1   Age          891 non-null    float64
 2   Fare         891 non-null    float64
 3   Pclass_1     891 non-null    uint8
 4   Pclass_2     891 non-null    uint8
 5   Pclass_3     891 non-null    uint8
 6   Embarked_C   891 non-null    uint8
 7   Embarked_Q   891 non-null    uint8
 8   Embarked_S   891 non-null    uint8
 9   Sex_male     891 non-null    uint8
 10  TravelAlone  891 non-null    uint8
dtypes: float64(2), uint8(9)
memory usage: 21.9 KB

In [60]:
featcols = {
  colname : tf.feature_column.numeric_column(colname) \
    for colname in 'Age,Fare,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,Sex_male,TravelAlone'.split(',')
}
featcols.keys()

dict_keys(['Age', 'Fare', 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Embarked_C', 'Embarked_Q', 'Embarked_S', 'Sex_male', 'TravelAlone'])

In [66]:
# Split into train and eval
msk = np.random.rand(len(train_df_clean)) < 0.8
traindf = train_df_clean[msk]
evaldf = train_df_clean[~msk]

BATCH_SIZE= 20
OUTDIR = '../models'

def make_input_fn(df, mode, batch_size = BATCH_SIZE):
    global mean_train_fare
    if mode == tf.estimator.ModeKeys.TRAIN:
        num_epochs = None # loop indefinetly
        shuffle=True
    else:
        num_epochs = 1 # one run and it's over
        shuffle=False
    
    return tf.compat.v1.estimator.inputs.pandas_input_fn(x = df[list(featcols.keys())],
                                                y = df["Survived"],
                                                num_epochs = num_epochs,
                                                batch_size = batch_size, 
                                                shuffle = shuffle)

def train_input_fn(df, batch_size=BATCH_SIZE):
    return make_input_fn(df, mode=tf.estimator.ModeKeys.TRAIN, batch_size=batch_size)

def eval_input_fn(df):
    return make_input_fn(df, mode=tf.estimator.ModeKeys.EVAL, batch_size=len(df))

In [67]:
NUM_CLASSES = 2

def train_and_evaluate(output_dir, num_train_steps):
    myopt = tf.keras.optimizers.Ftrl(learning_rate = 0.01) # note the learning rate
    estimator = tf.estimator.DNNClassifier(
                        model_dir = output_dir, 
                        feature_columns = featcols.values(),
                        hidden_units=[512, 128, 32],
                        optimizer = myopt,
                        dropout=0.2,
                        n_classes=NUM_CLASSES)
    
    #estimator = tf.estimator.DNNClassifier(
    #feature_columns=[categorical_feature_a_emb, categorical_feature_b_emb],
    #hidden_units=[1024, 512, 256])
  
    #def my_auc(labels, predictions):
    #    auc_metric = tf.keras.metrics.AUC(name="my_auc")
    #    auc_metric.update_state(y_true=labels, y_pred=predictions['logistic'])
    #    return {'auc': auc_metric}

    #estimator = tf.compat.v1.estimator.add_metrics(estimator, rmse)
    
    train_spec = tf.estimator.TrainSpec(input_fn = train_input_fn(df = traindf, batch_size = BATCH_SIZE),
                                      max_steps = num_train_steps)
    eval_spec = tf.estimator.EvalSpec(input_fn = eval_input_fn(df = evaldf),
                                        steps = None,                                        
                                        start_delay_secs = 1, # start evaluating after N seconds
                                        throttle_secs = 10  # evaluate every N seconds)
                                     )
    tf.estimator.train_and_evaluate(estimator, train_spec, eval_spec)
    
    
# Run training    
shutil.rmtree(OUTDIR, ignore_errors = True) # start fresh each time
train_and_evaluate(OUTDIR, num_train_steps = (100 * len(traindf)) / BATCH_SIZE)

INFO:tensorflow:Using default config.
INFO:tensorflow:Using config: {'_model_dir': '../models', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}
INFO:tensorflow:Not using Distribute Coordinator.
INFO:tensorflow:Running training and evaluation locally (non-distributed).
INFO:tensorflow:Start train and evaluate loop. The evaluate will happen after every checkpoint. Checkpoint frequency is determined based on RunConfig arguments: save_checkpoints_steps None or save_checkpoints_secs 600.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Layer dnn is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into ../models/model.ckpt.
INFO:tensorflow:loss = 1.6172822, step = 0
INFO:tensorflow:global_step/sec: 87.035
INFO:tensorflow:loss = 0.666014, step = 100 (1.150 sec)
INFO:tensorflow:global_step/sec: 139.087
INFO:tensorflow:loss = 0.61622316, step = 200 (0.719 sec)
INFO:tensorflow:global_step/sec: 106.993
INFO:tensorflow:loss = 0.6648936, step = 300 (0.934 sec)
INFO:tensorflow:global_step/sec: 135.053
INFO:tensorflow:loss = 0.6152609, step = 400 (0.741 sec)
INFO:tensorflow:global_step/sec: 188.816
INFO:tensorflow:loss = 0.6029297, step = 500 (0.530 sec)
INFO:tensorflow:global_step/sec: 129.883
INFO:tensorflow:loss = 0.5999605, step = 600 (0.770 sec)
INFO:tensorflow:global_step/sec: 148.846
INFO:tensorflow:loss = 0.65812683, step = 700 (0.675 sec)
INFO:tensorflow:global_step/sec: 110.669
INFO:tensorflow:loss = 0.556976, step = 800 (0.906 sec)
INFO:tensorflow:global_step/sec: 116.546
INFO:tensorflow:loss = 0.61155164, step = 900 (0.851 sec)
INFO:tensorflow:global_step/sec: 130.845
INFO:tensorflow:loss = 0.77947277, step = 1000 (0.764 sec)
INFO:tensorflow:global_step/sec: 132.119
INFO:tensorflow:loss = 0.7024506, step = 1100 (0.757 sec)
INFO:tensorflow:global_step/sec: 153.214
INFO:tensorflow:loss = 0.708471, step = 1200 (0.657 sec)
INFO:tensorflow:global_step/sec: 141.312
INFO:tensorflow:loss = 0.61712813, step = 1300 (0.716 sec)
INFO:tensorflow:global_step/sec: 150.269
INFO:tensorflow:loss = 0.6463383, step = 1400 (0.660 sec)
INFO:tensorflow:global_step/sec: 157.454
INFO:tensorflow:loss = 0.66368806, step = 1500 (0.633 sec)
INFO:tensorflow:global_step/sec: 148.106
INFO:tensorflow:loss = 0.623149, step = 1600 (0.675 sec)
INFO:tensorflow:global_step/sec: 153.556
INFO:tensorflow:loss = 0.6639279, step = 1700 (0.651 sec)
INFO:tensorflow:global_step/sec: 130.818
INFO:tensorflow:loss = 0.6983355, step = 1800 (0.760 sec)
INFO:tensorflow:global_step/sec: 131.493
INFO:tensorflow:loss = 0.58450097, step = 1900 (0.763 sec)
INFO:tensorflow:global_step/sec: 139.446
INFO:tensorflow:loss = 0.79554975, step = 2000 (0.714 sec)
INFO:tensorflow:global_step/sec: 149.126
INFO:tensorflow:loss = 0.63818425, step = 2100 (0.676 sec)
INFO:tensorflow:global_step/sec: 141.26
INFO:tensorflow:loss = 0.5860367, step = 2200 (0.709 sec)
INFO:tensorflow:global_step/sec: 110.943
INFO:tensorflow:loss = 0.6331951, step = 2300 (0.900 sec)
INFO:tensorflow:global_step/sec: 146.32
INFO:tensorflow:loss = 0.71224433, step = 2400 (0.682 sec)
INFO:tensorflow:global_step/sec: 124.925
INFO:tensorflow:loss = 0.6705786, step = 2500 (0.797 sec)
INFO:tensorflow:global_step/sec: 135.147
INFO:tensorflow:loss = 0.66998273, step = 2600 (0.745 sec)
INFO:tensorflow:global_step/sec: 119.93
INFO:tensorflow:loss = 0.69709027, step = 2700 (0.829 sec)
INFO:tensorflow:global_step/sec: 135.242
INFO:tensorflow:loss = 0.6165376, step = 2800 (0.744 sec)
INFO:tensorflow:global_step/sec: 127.592
INFO:tensorflow:loss = 0.6032799, step = 2900 (0.784 sec)
INFO:tensorflow:global_step/sec: 118.604
INFO:tensorflow:loss = 0.5944968, step = 3000 (0.843 sec)
INFO:tensorflow:global_step/sec: 132.931
INFO:tensorflow:loss = 0.6614905, step = 3100 (0.750 sec)
INFO:tensorflow:global_step/sec: 111.773
INFO:tensorflow:loss = 0.654272, step = 3200 (0.893 sec)
INFO:tensorflow:global_step/sec: 110.07
INFO:tensorflow:loss = 0.674116, step = 3300 (0.913 sec)
INFO:tensorflow:global_step/sec: 125.117
INFO:tensorflow:loss = 0.59751934, step = 3400 (0.794 sec)
INFO:tensorflow:global_step/sec: 142.806
INFO:tensorflow:loss = 0.5893512, step = 3500 (0.705 sec)
INFO:tensorflow:global_step/sec: 142.926
INFO:tensorflow:loss = 0.6036701, step = 3600 (0.700 sec)
INFO:tensorflow:Saving checkpoints for 3695 into ../models/model.ckpt.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Layer dnn is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2020-07-21T15:54:31Z
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from ../models/model.ckpt-3695
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Inference Time : 1.75285s
INFO:tensorflow:Finished evaluation at 2020-07-21-15:54:33
INFO:tensorflow:Saving dict for global step 3695: accuracy = 0.57236844, accuracy_baseline = 0.57236844, auc = 0.78090185, auc_precision_recall = 0.73471856, average_loss = 0.6495791, global_step = 3695, label/mean = 0.4276316, loss = 0.6495791, precision = 0.0, prediction/mean = 0.30486476, recall = 0.0
INFO:tensorflow:Saving 'checkpoint_path' summary for global step 3695: ../models/model.ckpt-3695
INFO:tensorflow:Loss for final step: 0.46817598.