In [16]:
import os
import seaborn as sns
import numpy as np
import pandas as pd

import tensorflow as tf

from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

In [3]:

homedir = os.path.expanduser("~")
homedir

data_path = os.path.join(os.path.curdir, '../../data/titanic')
print(data_path)
!ls $data_path

.\../../data/titanic
gender_submission.csv
test.csv
titanic.zip
train.csv

In [13]:
def load_data_from_kaggle(dataset="titanic"):
    data_path = os.path.join(os.path.curdir, f"../../data/{dataset}")
    !kaggle competitions download -c $dataset --path $data_path --force
    !unzip -o $data_path/titanic.zip -d $data_path

In [14]:
load_data_from_kaggle(dataset="titanic")

Downloading titanic.zip to .\../../data/titanic

  0%|          | 0.00/34.1k [00:00<?, ?B/s]
100%|##########| 34.1k/34.1k [00:00<00:00, 8.73MB/s]

Archive:  .\../../data/titanic/titanic.zip
  inflating: .\../../data/titanic/gender_submission.csv
  inflating: .\../../data/titanic/test.csv
  inflating: .\../../data/titanic/train.csv

In [18]:
def load_titanic_dateset(titanic_path='/content'):
  gender_submission_csv_path = os.path.join(titanic_path, "gender_submission.csv")
  train_csv_path = os.path.join(titanic_path, "train.csv")
  test_csv_path = os.path.join(titanic_path, "test.csv")
  return pd.read_csv(gender_submission_csv_path), pd.read_csv(train_csv_path), pd.read_csv(test_csv_path)

In [19]:
gender_sub_df, train_df, test_df = load_titanic_dateset(titanic_path=data_path)

In [21]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S